* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.lock-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: black;
  color: white;
}

ul,
li {
  list-style: none;
}

.hidden {
  display: none;
}

.lock-screen__wrap {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

#bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.clock {
  font-size: 5rem;
}

.day-info {
  font-size: 1.2rem;
}

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#password {
  background-color: rgba(255, 255, 255, 0.5);
  outline: none;
  border: none;
  border-radius: 2rem;
  font-size: 1.3rem;
  padding: 5px 15px;
  width: 300px;
  height: 40px;
  color: white;
}

#password.fail {
  animation: fail 300ms linear 1;
}

.hint {
  font-size: 0.9rem;
  text-align: center;
  margin-top: 5px;
  opacity: 0;
  color: whitesmoke;
  transition: all 300ms linear;
  transform: translateY(40px);
}

.hint.visible {
  opacity: 1;
  transform: translateY(0);
}

.hint__pw {
  color: white;
}

#password::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem;
}

#quote {
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

@keyframes fail {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Screen */
.screen {
  background: url("/assets/screen.jpg") center/cover no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* App */
.app {
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 20px;
}

.app__drawing-board,
.app__music-player,
.app_calculator {
  width: 350px;
  height: 400px;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}

.app__drawing-board {
  width: 350px;
  height: 400px;
  background-color: white;
}

.board-header {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
}

.board-header i {
  cursor: pointer;
  transition: all 150ms linear;
}

.board-header i:hover {
  color: white;
}

.colors {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.file-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

#file {
  display: none;
}

#board {
  width: 350px;
  height: 350px;
}
/* Music */
.app__music-player {
  height: 500px;
  background: rgb(245, 163, 183);
  background: linear-gradient(
    0deg,
    rgba(245, 163, 183, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(245, 163, 183, 1) 100%
  );
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.music__header {
  text-align: center;
  color: white;
  padding: 10px 0 30px;
}

.music__cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  background: url("/assets/member0.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music__cover.active {
  animation: rotate 10s linear infinite;
}

.cover__dot {
  width: 30px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 50%;
  z-index: 1;
}

.music__title {
  text-align: center;
  color: orangered;
  margin: 20px 0 40px;
}

#music__time-input,
#music__volume-input {
  all: unset;
  height: 5px;
  background: rgba(245, 163, 183, 1) 100%;
  border-radius: 20px;
  cursor: pointer;
}

.music__time {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#music__time-input::-webkit-slider-thumb,
#music__volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(252, 72, 117) 100%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#music__time-input::-moz-range-thumb,
#music__volume-input::-moz-range-thumb {
  background: rgb(252, 72, 117) 100%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
#music__time-input::-ms-thumb,
#music__volume-input::-ms-thumb {
  background: rgb(252, 72, 117) 100%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.music__play-btns {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 30px 0 30px;
}

#music__prev,
#music__next,
#music__play-stop-btn {
  font-size: 25px;
  cursor: pointer;
}

.music__volume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

#music__volume-input {
  flex: 1 1 auto;
}

.app_calculator {
}

/* To Do List */
.todo {
  z-index: 1;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: lightskyblue;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.todo__header {
  width: 100%;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.1);
}

#todo-form {
  padding: 10px;
}

#todo-input {
  width: 100%;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.todo-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}

.todo-item.checked .todo-text {
  text-decoration: line-through;
  color: gray;
}

.todo-text {
  flex: 1 1 auto;
  margin-left: 5px;
}

.fa-trash-can {
  border: none;
  background-color: transparent;
  color: black;
  transition: all 150ms linear;
  cursor: pointer;
}

.fa-trash-can:hover {
  color: orangered;
}

#todo-list {
  padding: 10px;
  overflow-y: auto;
  width: 100%;
}

/* Screen-bar */

.screen__bar {
  background-color: #e6f2fc;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

#weather__name {
  margin-right: 10px;
}

.screen__center {
  display: flex;
}

.screen__right {
  display: flex;
  flex-direction: column;
}

.screen__center .fa-solid {
  font-size: 40px;
  color: gray;
  transition: all 150ms linear;
  cursor: pointer;
  margin: 0 20px;
}

.fa-cloud-sun:hover {
  color: gold;
}

.fa-palette:hover {
  color: lightseagreen;
}

.fa-music:hover {
  color: tomato;
}

.fa-calculator:hover {
  color: orange;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
